/*------------------------- FOOTER ------------------------*/
footer{
    background-color:rgb(186, 182, 189);
    height: 120px;
    h2{
        font-family: 'Ubuntu', sans-serif;
        font-size: 30px;
        color: rgb(111, 34, 173);
        padding: 10px;
    }
    div{
        margin: 10px;       
    }
}