/*------------------------- HEADER ------------------------*/
header{
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    h1{
        font-size: 70px;
        font-weight: 600;
        color: rgb(111, 34, 173);
        margin-top: 10px;
        margin-left: 30px;
    }
}


